@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, #f36f04 0%, #f704ae 100%);
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor .reloj {
    font-size: 32px;
    text-shadow: -1px 0px 15px rgba(0,0,0,0.25);
    color: rgb(168, 249, 5);
}

.contenedor .reloj  .numero {
    display: inline-block;
    width: 140px;
    font-size: 128px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-shadow: -1px 0px 15px rgba(37, 27, 27, 0.25);
    border: none;
    color: #fff;
    background-color: transparent;

}

.botones button {
    margin: 0 7px;
    padding: 40px;
    border: none;
    border-radius: 50%;
}

.botones #playJS {
    background-image: url('play.png');
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
   /* background-color: rgb(168, 249, 5);*/
}

.botones #stopJS {
    background-image: url('stop.png');
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    /*background-color: rgb(168, 249, 5);*/
}

#playJS:active {
    background-color: rgb(168, 249, 5);
}

#stopJS:active {
    background-color: rgb(234, 4, 246);
}